.main-content{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.noticia-post-seccion-1{
    align-content: center;
    border-bottom:2px solid #ffffff28;
    padding: 10px 15px;
    width: 92%;
    height: 70px;
}
.noticia-post-seccion-1 .title{
    color: #ffffff;
    font-size: 20px;
}

.noticia-post-seccion-2{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-content: center;
    height: 25vw;
    margin: 0px 0px;
    width: 92%;
    padding: 20px 0px;
    border-bottom: 2px solid #ffffff50;
}
.noticia-post-banner{
    object-fit: cover;
    width: 35vw;
    height: 100%;
    background-color: #c9c9c9;
    display: block;  
    border-radius: 10px;
    margin: 0 25px 0 0 ;
}
.noticia-post-info{
    margin: 0  ;
    width: 18vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 0 0;
}
.noticia-post-info .tags-seccion{
    background-color: rgb(36, 38, 39);
    border: solid 2px #131414;
    border-radius: 0 0 10px 10px;
    padding: 10px;
    color: #ffffff;
    height: 8vw;
    overflow-y: auto;
}
.noticia-post-info .tags-seccion::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;

}
.noticia-post-info .tags-seccion::-webkit-scrollbar-thumb {
    background-color: #63616e52;
    border-radius: 10px;
    
}

.noticia-post-info .tags-seccion .tags{
    font-size: 16px;
    margin: 0;
}
.noticia-post-info .tags-seccion .all-tags{
    font-size: 11px;

}
.noticia-post-info-seccion-2{
    background: rgba(0, 0, 0, 0.02);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
    height: 100%;
    font-size: 0.8vw;
    overflow-y: auto;
    padding: 0 10px;
}

.noticia-post-info-seccion-2 .title{
    color: #ffffff;
}
.noticia-post-info-seccion-2 .sub{
    color: #cfcfcf;
    
}
.noticia-post-info-seccion-2::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;

}
.noticia-post-info-seccion-2::-webkit-scrollbar-thumb {
    background-color: #63616e52;
    border-radius: 10px;
    
}

.noticia-post-seccion-3{
    display: flex;
    width: 92%;
    margin: 0;
    padding: 10px 0 0 0;
    background: #ffffff;
    background: linear-gradient(0deg,rgba(255, 255, 255, 0) 0%, rgba(217, 217, 217, 0.116) 100%);
}
.noticia-post-seccion-3 .btn{
    background-color: #484e53;
    border-radius: 20px;
    height: 30px;
    font-size: 12px;
    padding: auto;
    box-shadow: 0px 2px 4px #00000049;
    color: #c9c9c9;
    border: unset;
}
.noticia-post-seccion-3 .btn:active{
    background-color: #2e3236;
}
.noticia-post-seccion-4{
    margin: 0 30px;
    width: 92%;
    padding: 10px 0;
}
.noticia-post-seccion-4 p{  
    font-size: 15px;
    text-align: justify;
}